@import 'web/scss/variables.scss';

.border-wrapper{
  border-top   : $brand-primary 5px solid;
  border-left  : $brand-primary 5px solid;
  border-right : $brand-primary 5px solid;
}

.content{
  color: inherit;
}
