$gray                     : #999999;
$gray-dark                : #333333;
$gray-light               : #BBBBBB;
$gray-lighter             : #CCCCCC;
$gray-lightest            : #f5f5f5;

$brand-primary            : #FFC676;
$brand-secondary          : #FBAA3A;

$brand-success            : #7ACA45;
$brand-info               : $brand-primary;
$brand-danger             : #FF8074;
$brand-warning            : #B16FC3;
$brand-dark               : #443929;

$base-font-size           : 18px;
$grid-gutter-width-base   : ($base-font-size * 2);

$enable-rounded           : true;
$enable-shadows           : true;
$enable-hover-media-query : true;

$border-radius            : .25rem;

$font-family-sans-serif   : 'Roboto', 'Helvetica', 'sans-serif';
$font-family-serif        : 'Georgia', 'Times New Roman', 'Times', 'serif';
$font-family-monospace    : 'Menlo', 'Monaco', 'Courier New',	'monospace';
$font-family-base         : $font-family-sans-serif;

$breadcrumb-bg            : #ffffff;
$breadcrumb-divider-color : $gray-dark;
$breadcrumb-active-color  : $gray-dark;
$breadcrumb-divider       : '/';

$label-default-bg         : $gray-dark;
$label-primary-bg         : $brand-primary;
$label-success-bg         : $brand-success;
$label-info-bg            : $brand-info;
$label-warning-bg         : $brand-warning;
$label-danger-bg          : $brand-danger;

$label-color              : #000;
$label-link-hover-color   : #000;

$hr-border-color          : $gray-dark;

$font-weight-normal       : 500;
$btn-font-weight          : $font-weight-normal;
$label-font-weight        : $font-weight-normal;

$btn-secondary-color      : #fff;
$btn-secondary-bg         : $gray-dark;
$btn-secondary-border     : $gray-dark;

$input-color              : $brand-dark;
$input-color-placeholder  : $brand-primary;
$input-border-color       : $brand-secondary;
$input-border-focus       : $brand-primary;
$input-box-shadow         : none;
$input-bg                 : #fff;
$input-bg-disabled        : #efefef;

$form-group-margin-bottom : 0.5rem;

$simple-y-top-shadow      : 0px -2px 2px 0px rgba(0, 0, 0, 0.05);
$simple-y-bottom-shadow   : 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
$simple-x-right-shadow    : 2px 0px 2px rgba(0, 0, 0, 0.05);
$simple-x-left-shadow     : -2px 0px 2px rgba(0, 0, 0, 0.05);

$error-shadow             : 0 0 4px $brand-danger;

$font-size-h1             : 2.3rem;
$font-size-h2             : 2rem;
$font-size-h3             : 1.7rem;
$font-size-h4             : 1.3rem;
$font-size-h5             : 1.1rem;
$font-size-h6             : 1rem;
