<div class="col-md-9">
  <div class="col-md-4 card">
    <img class="card-img-top" src="./assets/img/exampleBook.jpeg" alt="Random book">
    <div class="card-block">
      Text and icons
    </div>
  </div>
  <div class="col-md-4 card">
    <img class="card-img-top" src="./assets/img/exampleBook.jpeg" alt="Random book">
    <div class="card-block">
      Text and icons
    </div>
  </div>
  <div class="col-md-4 card">
    <img class="card-img-top" src="./assets/img/exampleBook.jpeg" alt="Random book">
    <div class="card-block">
      Text and icons
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="card card-block">
    Social bar
  </div>
</div>
