@import 'web/scss/variables.scss';

.actions{
  padding: .5rem 0 0 0;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li{
    display: inline-block;
    padding: 0;

    &:after{
      padding: 0 .5rem;
    }
  }

  i{
    vertical-align: bottom;
  }
}
