<nav class="navbar navbar-light bg-faded">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <a class="navbar-brand" href="#">
      <img src="assets/img/BOOKI@1x.svg" alt="Booki">
    </a>

    <div class="col-md-5">
      <div class="input-group input-group-lg">
        <input class="form-control" type="text" placeholder="Bücher kaufen...">
        <span class="input-group-btn">
          <button class="btn btn-outline-success" type="submit"><i class="mdi mdi-magnify"></i></button>
        </span>
      </div>
    </div>

    <div class="float-xs-right">
      <button class="btn btn-lg btn-secondary" type="submit">Anmelden</button>
    </div>
  </div>
</nav>
