.book{
  position: relative;
  padding: .5rem;
  display: block;

  img{
    margin-right: .5rem;
  }
}

.book-option{
  composes: book;

  border-bottom: #eee 1px solid;
	cursor: pointer;

	&:hover{
		background-color: #eee;
	}
}

.book-value{
  composes: book;

}

.description{
  position: absolute;
  left: 50px;
  right: .5rem;

  top: 50%;
  transform: translateY(-50%);


  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title{
  color: inherit;
}

.page-count{
  color: inherit;
}
