<div style="margin-top: 100px;">
  <div class="card card-block">

    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-Mail">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Passwort">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">ANMELDEN</button>
        <a href="#">Passwort vergessen?</a>
      </div>
    </form>

    <hr>

    <div class="form-group">
      <button class="btn btn-default">ANMELDEN MIT FACEBOOK</button>
    </div>

    <div class="form-group">
      <button class="btn btn-default">ANMELDEN MIT GOOGLE</button>
    </div>
  </div>
</div>
