.btn:focus {
  outline: 0;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center  {
  display: flex;
  justify-content: center;
}

.absolute-center {
  position:absolute;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-45%);
  -webkit-transform: translate(-50%,-45%);
  transform: translate(-50%,-45%);
}
