@import "web/scss/variables.scss";

.nav-menu {
	color: inherit;
}

.nav-menu li {
	position: relative;
}

.dropdown-toggle {
	cursor: pointer;
	display: inline-block;
}

.dropdown {
	position: absolute;
	top: 100%;
	right: 0;
	list-style: none;

	margin: .5rem 0 0 0;
	padding: 0;

	background-color: #fff;
	border: $brand-primary 2px solid;
	box-shadow: $simple-y-bottom-shadow;

	li {
		padding: 0 .5rem;
	}
}

.profile {
	display: flex;
}

.profile-picture {
	width: 25px;
	height: 25px;

	img {
		width: 100%;
		height: auto;

		border-radius: 50%;
		border: $brand-primary 2px solid;
	}
}

.name {
	margin-left: .5rem;
}
