@import 'web/scss/variables.scss';

.footer{
  position: relative;

  background-color: $brand-primary;
  color: #fff;

  height: 180px;

  z-index: 1;

  padding: 2rem 0 .5rem 0;
  font-size: .9rem;

  & > div{
    height: 100%;
  }
}

.copyright{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  text-transform: uppercase;

  text-align: center;
}
