@import 'web/scss/variables.scss';

.header{
  position: -webkit-sticky;
  position: sticky;
  height: 120px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  & > button{
    margin: 0 1rem;

    font-weight: 700;
  }
}

.searchbar{

  input{
    border: $brand-primary 2px solid;
    border-radius: 5px 0 0 5px;
  }

  .search-button{
    border-radius: 0 5px 5px 0;
    background-color: $brand-primary;
    color: #fff;
    border: none;
  }
}

.nav{
  white-space: nowrap;
}

.nav ul{
  padding: 0;
  margin: 0 0 0 1rem;
  list-style: none;
  float: right;

  li{
    display: inline-block;

    text-transform: uppercase;
    color: $brand-primary;
    font-size: 1rem;

    margin-right: 1rem;
  }
}
