@import "web/scss/variables.scss";

.card-offers {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

	padding: 1rem;
	margin: 0 0 .5rem 0;

	& > div {
		font-size: .8rem;

		margin: .5rem 0 1rem 0;
		border-bottom: $brand-primary 1px solid;

		& > div {
			margin-bottom: .5rem;
		}
	}
}

.book-thumbnail {
	width: 100%;
	height: auto;
	background-color: #eee;
}

.price {
	color: $brand-primary;
	font-style: normal;
	border-bottom: $brand-primary 2px solid;
}

.actions button {
	width: 100%;
	font-size: .8rem;
	white-space: normal;
}
