.bg-booki {
    background-color: #FFC676;
}

.btn-outline-booki {
    background-color: white;
    border-color: #FFC676;
    color: #FFC676;
}

.btn-outline-booki:hover {
    background-color: #FFC676;
    color: white;
    border-left-color: white;
    box-shadow: inset 0px 1px 0px 0px white,
                inset 0px -1px 0px 0px white,
                inset -1px 0px 0px 0px white;
}

.mutedPlaceholder::placeholder {
    color: rgba(0,0,0,0.4);
}

.navbar-light .navbar-toggler {
    border-color: white;
    color: white;
}