@import 'web/scss/variables.scss';

.login{
  position: fixed;
  top     : 0;
  left    : 0;
  right   : 0;
  bottom  : 0;
}

.modal{
  box-shadow        : $simple-y-bottom-shadow;
	background-color  : #fff;

	margin-top        : 1rem;
}

.wrapper{
  margin: 1.5rem 3rem;
}

.button{
  width: 100%;
}
