.home{
  z-index: 1;
}

.slider-wrapper{
  margin-top: -1rem;
  padding: 1rem;

  background-color: #9B9B9B;
}

.slider{
  height: 100%;
}

.book-slide{
  height: 100%;
  position: relative;
}

.book-list{
  margin-top: 1rem;
}
