.home{
  z-index: 1;
}

.slider-wrapper{
  margin-top: -1rem;
  padding: 1rem;

  background-color: #9B9B9B;
  height: 300px;
}

.slider{
  height: 100%;
}

.book{
  height: 100%;
  position: relative;
  overflow: hidden;

  img{
    width: 100%;
    height: auto;
  }
}
