.logo{
  height: 40px;
  width: auto;

  flex-basis: auto;

  display: inline-block;

  svg{
    height: 40px;
    width: auto;
  }
}

@media (max-width: 575px) {
  .logo svg{
    margin-top: 5px;
    height: 30px;
  }
}
