@import 'web/scss/variables.scss';

.border-wrapper{
  border-top   : $brand-primary 10px solid;
  border-left  : $brand-primary 10px solid;
  border-right : $brand-primary 10px solid;

  min-height   : 100vh;

  box-shadow: inset 0 1px 8px 0 rgba(0,0,0,0.2);
}

.content{
  padding: 1rem 0;
}
