.sidebar{
  width               : 100%;
  height              : 100%;

  padding-top         : 1rem;

  background-repeat   : no-repeat;
  background-position : center center;
  background-size     : cover;
}

.profile-picture{
  cursor: pointer;
}

.profile-picture img{

  display: block;

  margin: 0 auto;
}

.user-name{
  margin-top: 1rem;
  text-align: center;
}

.link-list{
  list-style: none;
}
