@import "web/scss/variables.scss";

.header{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  h1{
    margin-left: 1rem;
  }
}

.profile-picture{
  position: relative;
  width: 100px;
  height: 100px;

  border-radius: 50%;
  border: $brand-primary 5px solid;

  overflow: hidden;

  img{
    display: inline-block;

    width: 100%;
    height: auto;
  }

  &:hover .overlay{
    opacity: 1;
  }
}

.overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);

  opacity: 0;

  input{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;

    z-index: 100;

    cursor: pointer;
  }

  i{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    z-index: 99;

    transform: translateY(-50%);

    text-align: center;
    font-size: 1.5rem;
    color: #fff;
  }
}

.table{
  width: 100%;
}
