@import "web/scss/variables.scss";

.search {
	color: inherit;
}
.loader > div > div {
	margin: 0 auto;
}

.book {
	padding-top: .5rem;
	padding-bottom: .5rem;

	background: #ffffff;

	border-bottom: $brand-primary 1px solid;
}

.title {
	h3,
	h4 {
		display: inline-block;
		margin: 0;
	}

	h4 {
		margin-left: .25rem;
	}
}

.authors {
	color: #000;
	font-size: .8rem;
}

.offers {
	margin-top: 1rem;
}

.profile-picture,
.profile-picture-more {
	position: relative;

	width: 30px;
	height: 30px;

	display: inline-block;
	overflow: hidden;

	border-radius: 50%;
	border: $brand-primary 2px solid;

	img {
		vertical-align: top;
		width: 100%;
		height: auto;
	}

	&:nth-child(n + 2) {
		margin-left: -12.5px;
	}

	&:nth-child(n + 4) {
		display: none;
	}
}

.profile-picture-more {
	&:first-child {
		opacity: 0.5;
	}
}

.offer-counter {
	font-size: 1rem;
	margin-left: .5rem;
	color: $brand-primary;
}

.details {
	margin-top: 1rem;

	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.detail-button {
	font-weight: 700;
	text-transform: uppercase;

	border-radius: 5px;
}

.price {
	font-size: 1.5rem;
	font-weight: 700;
	color: $brand-primary;
}
