@import 'web/scss/variables.scss';

.sell-step{

  margin-bottom: 3rem;

  h1{
    margin-bottom: 0;
  }

  small{
    color: $brand-dark;
  }
}

.spinner{
  display: inline-block;
  margin-right: .5rem;
}

.cancel{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.next{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
