<div class="card card-block" style="margin-top: 100px">

  <form>
    <div class="form-group">
      <label for="firstName">Vorname</label>
      <input type="text" class="form-control" id="firstName" placeholder="">
    </div>
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="email" class="form-control" id="email" placeholder="">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default">REGISTRIEREN</button>
      <a routerLink="/login">Hast du bereits einen Account?</a>
    </div>
  </form>

  <hr>

  <div class="form-group">
    <button class="btn btn-default">ANMELDEN MIT FACEBOOK</button>
  </div>

  <div class="form-group">
    <button class="btn btn-default">ANMELDEN MIT GOOGLE</button>
  </div>
</div>
